@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css?family=Kanit:300&amp;subset=thai');
}

* {
    font-family: 'Kanit', sans-serif;
}

.text-red{
    color:red;
}
