<!doctype html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>โปรโมชัน</title>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
</head>

<body style="visibility: visible;">
  <div>
    {{ content }}
  </div>

  <script src="{{ site.url }}/scripts/java-m-lib/dist/bundle.js"></script>
  <script>
    var mcontentid = "637335741737853687";
    var lib;

    (function () {
      setTimeout(() => {
        lib = await manawallib.GetLib();
        await lib.initPageApiWithCallBack(mcontentId, () => callBackFunc());
      }, 500);
    })();

    if (navigator.share) {
      var btns = document.getElementsByClassName("btn-on-android");
      Array.prototype.forEach.call(btns, function (item) {
        item.style.display = "initial";
      });
    } else {
      var btns = document.getElementsByClassName("btn-on-web");
      Array.prototype.forEach.call(btns, function (item) {
        item.style.display = "initial";
      });
    }

    function sharePage(title, text, url) {
      if (navigator.share) {
        navigator.share({
          title: title,
          text: text,
          url: url
        });
      }
    }
  </script>
</body>

</html>