<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>โปรโมชัน</title>
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  </head>
  <body>
      <div>
        {{ content }}
      </div>

    <script>
      function sharePage(title, text, url) { 
        if(navigator.share) {
          navigator.share({
            title: title,
            text: text,
            url: url
          });
        }
      }
    </script>
  </body>
</html>